body {
  background-color: rgb(7, 89, 110);
  width: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#div_time {
  background-color: antiquewhite;
  padding: 25px;
  width: 450px;
  border-radius: 5px;
}