body {
  background-color: rgb(7, 89, 110);
  width: 500px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#div_time {
  background-color: antiquewhite;
  padding: 25px;
  width: 450px;
  border-radius: 5px;
}

h1 {
  margin-bottom: 0;
}

.relogio {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

.pausado {
  color: red;
}